.head-kr {
  height: 100vh;
  width: 100%;
  background-image: url(../img/bg-head-ad.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  margin-bottom: 170px;

  .head-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px 0 100px 0;
  }

  .top-line {
    .logo {
      max-width: 180px;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .phone{
      text-align: right;
      a {
        color: $white;
        text-decoration: none;
        font-size: 16px;
        font-family: $OpenSansLight;
        transition: 0.5s;
        &:hover {
          color: $green;
        }
      }
    }
  }
  .center-line {
    .title {
      text-align: center;
      color: $white;
      font-size:36px;
      font-family: $OpenSansSemibold;
      letter-spacing: 0.5px;
      width: 100%;
      margin: 20px 0;
    }
    .sub-title {
      text-align: center;
      color: $white;
      font-size: 20px;
      letter-spacing: 0.5px;
    }
  }
  .bottom-line {
    width: 100%;
    p {
      text-align: center;
      color: $white;
      font-size: 22px;
      line-height: 28px;
      font-family: $OpenSansRegular;
      max-width: 400px;
      letter-spacing: 0.5px;
      margin: auto;
      margin-bottom: 15px;
    }
  }
}

.whom-kr {
  margin-bottom: 170px;

  .wrap-title {
    text-align: center;
  }

  .items {
    margin-top: 60px;
    .item {
      display: flex;
      align-items: center;
      padding-bottom: 30px;
      .icon {
        max-width: 50px;
        margin-right: 15px;
        img {
          width: 40px;
          height: 40px;
        }
      }
      .text {
        font-size: 20px;
        line-height: 28px;
        p {
          margin: 0;
        }
      }
    }
  }
}


.advantage-kr {
  margin-bottom: 170px;

  .wrap-title p {
    font-family: $OpenSansRegular;
  }

  .items {
    margin-top: 70px;
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .icon {
        width: auto;
        height: 80px;
        img {
          width: 100%;
        }
      }
      hr {
        height: 4px;
        width: 100px;
        background-color: #3cc47c;
        border: 0;
      }
      .text {
        p {
          margin: 0;
          text-align: center;
          font-size: 18px;
          line-height: 28px;
          padding: 0 35px;
        }
      }
    }
  }


}