.head-kr {
  height: 100vh;
  width: 100%;
  background-image: url(../img/bg-head-ad.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  margin-bottom: 170px;

  .head-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px 0 100px 0;
  }

  .top-line {
    .logo {
      max-width: 180px;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .phone{
      text-align: right;
      a {
        color: $white;
        text-decoration: none;
        font-size: 16px;
        font-family: $OpenSansLight;
        transition: 0.5s;
        &:hover {
          color: $green;
        }
      }
    }
  }
  .center-line {
    .title {
      text-align: center;
      color: $white;
      font-size:36px;
      font-family: $OpenSansSemibold;
      letter-spacing: 0.5px;
      width: 100%;
      margin: 20px 0;
    }
    .sub-title {
      text-align: center;
      color: $white;
      font-size: 20px;
      letter-spacing: 0.5px;
    }
  }
  .bottom-line {
    width: 100%;
    p {
      text-align: center;
      color: $white;
      font-size: 22px;
      line-height: 28px;
      font-family: $OpenSansRegular;
      max-width: 400px;
      letter-spacing: 0.5px;
      margin: auto;
      margin-bottom: 15px;
    }
  }
}

.whom-kr {
  margin-bottom: 170px;

  .wrap-title {
    text-align: center;
  }

  .items {
    margin-top: 60px;
    .item {
      display: flex;
      align-items: center;
      padding-bottom: 30px;
      .icon {
        max-width: 50px;
        margin-right: 15px;
        img {
          width: 40px;
          height: 40px;
        }
      }
      .text {
        font-size: 20px;
        line-height: 28px;
        p {
          margin: 0;
        }
      }
    }
  }
}


.advantage-kr {
  margin-bottom: 170px;

  .wrap-title p {
    font-family: $OpenSansLight;
  }

  .items {
    margin-top: 70px;
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .icon {
        width: auto;
        height: 80px;
        img {
          width: 100%;
        }
      }
      hr {
        height: 4px;
        width: 100px;
        background-color: #3cc47c;
        border: 0;
      }
      .text {
        p {
          margin: 0;
          text-align: center;
          font-size: 18px;
          line-height: 28px;
          padding: 0 35px;
        }
      }
    }
  }
}


.result-kr {
  margin-bottom: 170px;

  .slider-work {
    margin-top: 70px;
    margin-bottom: 30px;
    @include media-breakpoint-down(sm){
      padding-top: 25px;
    }
    a {
      text-decoration: none;
    }
    .item {
      min-height: 300px;
      width: 100%;
      overflow: hidden;
      .wrap-slid {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        min-height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .wrap-descr {
          padding-left: 20px;
          width: 100%;
          max-width: 550px;
          min-height: 400px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          @include media-breakpoint-down(sm) {
            background-color: rgba(0,0,0,0.2);
            max-width: 100%;
          }
          .title {
            font-size: 24px;
            line-height: 26px;
            font-family: $OpenSansSemibold;
            margin:0;
            color: $white;
          }
          .sub-title {
            font-size: 24px;
            line-height: 26px;
            font-family: $OpenSansLight;
            color: $white;
          }
          .wrap-link {
            margin-bottom: 15px;
            a {
              color: $green;
              transition: 0.5s;
              font-size: 20px;
              &:hover {
                color: $white;
              }
            }
          }
          .details {
            font-size: 16px;
            line-height: 21px;
            color: $white;
            p {
              margin: 0;
            }
            .green-text {
              color: $green;
            }
          }
        }
        &.slide1 {
          background-image: url(../img/slide1-ad.png);
        }
        &.slide2 {
          background-image: url(../img/slide2-ad.png);
        }
      }
    }
  }

  //owl dot
  .owl-dot {
    background: $white;
    height: 12px;
    width: 12px;
    border-radius: 10px;
    border: 1px solid $blue;
    margin: 0 3px;
  }
  .owl-dot.active {
    background: $blue;
    height: 12px;
    width: 12px;
    border-radius: 10px;
    border: 1px solid $blue;
  }
  .owl-dots {
    display: flex;
    height: 20px;
    justify-content: center;
    margin-top: 20px;
  }

  .owl-prev,
  .owl-next {
    position: absolute;
    top: 50%;

    img {
      width: 20px;
      height: 20px;
    }
  }
  .owl-next {
    right: -40px;

    img {
      transform: rotate(180deg);
    }
  }
  .owl-prev {
    left: -40px;
  }

}


.price-table-kr {
  margin-bottom: 170px;

  .custom-table {
    margin-top: 70px;
    margin-bottom: 30px;
    width: 100%;
    border: 2px solid transparent;
    thead th {
      border-bottom: 3px solid $green;
    }
    &.table-hover-custom tbody tr:hover {
      background-color: rgba($blueDark,.025);
    }

    .t-col1 {
      width: 40%;
      &.title {
        font-size: 24px;
      }
      .small-italic {
        font-style: italic;
        font-size: 14px;
      }
      img {
        margin-right: 10px;
        width: 30px;
      }
    }
    .t-col2, .t-col3 {
      width: 30%;
      &.title {
        font-size: 24px;
        font-family: $OpenSansSemibold;
      }
      a {
        text-decoration: none;
        color: $green;
        font-family: $OpenSansSemibold;
      }
    }
  }
}